In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
keywordSet = set()

In [61]:
def CorrectString(keywordSet, text, considerHashtag):
    word = 'Unknown'
    for each in keywordSet:
        if (each in text):
            word = each;
            break
    if (considerHashtag and word == 'Unknown'):
        for each in text.split():
            if (each.startswith('#')):
                word = each.lstrip('#')
    return word

In [63]:
def fixMissingKeywords(setWithPossibleKeywords, dataframe, nameOfColumnWithParamMissing = 'keyword', nameOfPlaceWithText = 'text', useHashtag = True): 
    for index, row in dataframe.iterrows():
        if (isinstance(row[nameOfColumnWithParamMissing], str)):
            continue
        dataframe.loc[index, nameOfColumnWithParamMissing] = CorrectString(keywordSet, row[nameOfPlaceWithText], useHashtag)

In [60]:
tweets = pd.read_csv('train.csv', encoding = 'latin-1')
tweets.tail()

,id,keyword,location,text,target
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [44]:
dfWithKeywords = tweets.dropna(subset=['keyword'])
dfWithKeywords['keyword'].value_counts()

fatalities               45
armageddon               42
deluge                   42
damage                   41
harm                     41
                         ..
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Unknown                   1
Name: keyword, Length: 222, dtype: int64

In [58]:
dfWithoutKeywords = tweets[tweets.iloc[:, [1]].isna().any(1)]
dfWithoutKeywords.tail()

Empty DataFrame
Columns: [id, keyword, location, text, target]
Index: []

In [64]:
fixMissingKeywords(keywordSet, tweets)
tweets.tail(10)

,id,keyword,location,text,target
7603,10862,quarantine,NaN,Officials say a quarantine is in place at an A...,1
7604,10863,evacuated,NaN,#WorldNews Fallen powerlines on G:link tram: U...,1
7605,10864,bomb,NaN,on the flip side I'm at Walmart and there is a...,1
7606,10866,bomb,NaN,Suicide bomber kills 15 in Saudi security site...,1
7607,10867,storm,NaN,#stormchase Violent Record Breaking EF-5 El Re...,1
7608,10869,collapse,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,fire,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,Unknown,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,collided,NaN,Police investigating after an e-bike collided ...,1
7612,10873,fire,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [75]:
locations = pd.read_csv('train.csv', encoding = 'latin-1')

fire          45
fatalities    45
armageddon    42
deluge        42
collided      41
Name: keyword, dtype: int64